body {
  background-color: #a09f9f;
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  width: 240px;
  padding: 75px;
  background-color: #606268;
  border: 3xpx groove;
  border-color:#ad0303;
}
