<html>
<head>
    <style>
body {
  background-image: url("/static/imag/ow.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 0px;
  background-size:111%;
  background-attachment:fixed;
}
    </style>
</head>
</html>

{% extends 'layout.html' %}
{% block conteudo %}
<center>
    <font color="#e2cb18">
        <h1>Overwatch</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </font>
</center>
{% endblock %}
