<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% block titulo %}
    {% endblock %}

    <script type="text/javascript" src="/static/scroll.js"></script>
<body>

<div class="navbar">
    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="active" href="login"><i class="fas fa-lock"></i> Login</a>
    <a class="active" href="registro"><i class="fas fa-user-tie"></i> Registro</a>
    <a class="active" href="delete"><i class="fas fa-user-times"></i> Eliminar Conta</a>
</div>
{% block conteudo %}
{% endblock %}

<br>
<center>
</center>

<p class="p-padding-1"></p>
<footer class="footer">
    <div class="icons">
        <div class="phone">
            <i class="fas fa-phone"></i>
            <p>913219329</p>
        </div>

        <div class="email">
            <i class="fas fa-envelope"></i>
            <p>ruiazevedo1666@gmail.com</p>
        </div>

        <div class="marker">
            <i class="fas fa-map-marked-alt"></i>
            <p>Overwatch Hanamura, Japão</p>
        </div>
    </div>

    <div class="info">
        <p class="info-title">Overwatch</p>
        <p class="info-content">Este é um jogo que foi feito pela blizzard! Foi um dos jogos mais jogados 2016/2017.</p>
        <div>
            <div>
                <a href="https://www.instagram.com/playoverwatch/?hl=pt" target="_blank"><i
                        class="fab fa-instagram"></i></a>
            </div>
            <div>
                <a href="https://www.youtube.com/channel/UClOf1XXinvZsy4wKPAkro2A" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
            <div>
                <a href="https://www.twitch.tv/overwatchleague" target="_blank"><i class="fab fa-twitch"></i></a>
            </div>
        </div>
        </div>
            <div class="footer-img">
            <div class="footer-img-2">
                <img class="imgd2" src="/static/imag/hanamura.jpg">
            </div>
</footer>
<p class="copyright">&copy; Copyright 2019 Rui Azevedo</p>
</body>
</html>
