<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <link rel="shortcut icon" href="/static/favicon.png">
    <meta charset="UTF-8">
    <title>CounterStrike: Global Offensive</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<center>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="sobreojg">Acerca do Jogo</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Modos de Jogo</a>
            <div class="dropdown-content">
                <a href="casual">Casual</a>
                <a href="competitivo">Competitivo</a>
                <a href="wingman">Wingman</a>
                <a href="perifericos">Periféricos</a>
        <li><a href="esports">EsportS</a>
        <li><a href="skins">Skins $</a>
        <li><a href="galo">Jogo do Galo</a>
        <li><a href="login">Login</a>
        <li><a href="registro">Registro</a>
        </li>
    </ul>
</center>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block conteudo %}
{% endblock %}
