<html lang="pt-pt">
<link rel="stylesheet" type="text/css" href="/static/style.css">
</html>

<title>Criar Nova Conta</title>

<center>
    <font color="black">
        <h1>Alterar a Palavra-Passe</h1>
        <form method="post">
            <fieldset>
                <h3>Utilizador</h3>
                <input type="text" name="usr" required>
                <p><br></p>
                <h3>Nova Palavra-Passe</h3>
                <input type="password" name="pwd" required>
                <p><br></p>
                <h3>Confirma a Nova-Passe</h3>
                <input type="password" name="cpwd" required>
                <p><br></p>
                <input type="submit" value="Criar">
            </fieldset>
        </form>
    {% if erro %}
<h2>{{ erro }}</h2>
    {% endif %}
    </font>
</center>
