<html lang="pt-pt">
<link rel="stylesheet" type="text/css" href="/static/style.css">
</html>
{% extends 'layout.html' %}
{% block conteudo %}
<title>Criar Nova Conta</title>

<center>
    <font color="black">
        <h1>Criar nova Conta</h1>
        <form method="post">
            <fieldset>
                <h2>Utilizador</h2>
                <input type="text" name="usr" required>
                <p><br></p>
                <h2>Palavra-Passe</h2>
                <input type="password" name="pwd" required>
                <p><br></p>
                <h2>Confirme a Passe</h2>
                <input type="password" name="cpwd" required>
                <p><br></p>
                <input type="submit" value="Criar">
            </fieldset>
        </form>
    {% if erro %}
<h2>{{ erro }}</h2>
    {% endif %}
    </font>
</center>
{% endblock %}
